body {
background-color: #F9F9F9;
}
.logo {
  width: 150px;
}
.navbar {
  box-shadow: 0 3px 3px rgba(0,0,0,0.05);
  height: 90px;
}


.nav-item {
  display: inline-block;
  font-size: 1em;
  &.active { 
    border-bottom: 2px solid #50235d;
    & .nav-link {
      color: #50235d;
    }
  }
}
.nav-link {
  color: #959595;
}


// Primary color
.primary {
  color: #50235d;
}
.primary-bg {
  background-color: #50235d;
}
